// 弹出层
.el-popper {
    // 提示窗样式覆盖
    &.reset-tooltip.is-light {
        border: none;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 4px;

        .el-popper__arrow {
            &::before {
                border-color: transparent;
            }
        }
    }

    // 下拉选择框
    .el-select-dropdown {
        .el-select-dropdown__item {
            color: var(--text-color-6);

            &.selected {
                color: var(--main-color);
            }
        }
    }

    // 菜单下拉样式
    .el-menu {
        padding: 18px;
        border-radius: 4px;

        .el-menu-item {
            border-radius: 4px;
            height: 44px;
            font-weight: bold;
            line-height: 22px;
            color: var(--text-color-1);

            &.is-active {
                background-color: rgba(102, 102, 102, 0.08);
            }
        }
    }
}

// 表格样式覆盖
.el-table {
    &.reset-style {
        th {
            border-top: 1px solid var(--el-table-border-color);
            font-size: 12px;
            padding: 13px 0;
        }

        td {
            padding: 21px 0;
        }

        .cell {
            padding: 0 8px;
            white-space: nowrap;
            line-height: 22px;
            font-weight: bold;

            .color-middle {
                color: var(--text-color-6);
                font-weight: normal;
            }

            .color-light {
                color: var(--text-color-9);
                font-weight: normal;
            }
        }

        .el-empty__description {
            line-height: 22px;
        }

        .el-empty__bottom {
            line-height: 1;
        }

        .el-loading-spinner {
            circle {
                stroke: var(--main-color);
                stroke-width: 6;
            }

            .el-loading-text {
                margin-top: 20px;
                color: var(--main-color);
                font-weight: bold;
            }
        }

        &.el-loading-parent--relative {
            .el-table__empty-text {
                opacity: 0;
            }
        }
    }
}

// 分页样式覆盖
.el-pagination.is-background {
    padding-right: 0;

    button {
        &.btn-prev,
        &.btn-next {
            font-weight: bold;
            background-color: transparent;
            padding: 0 3px;
            min-width: 22px;

            i {
                font-size: 14px;
            }
        }
    }

    ul.el-pager {
        li {
            padding: 0 7px;
            min-width: 22px;
            border-radius: 4px;
            margin: 0 3px;
            transition: 0.3s all ease-in-out;

            &:not(:hover) {
                background-color: transparent;
            }

            &:not(.disabled):not(.active):hover {
                background-color: #eff2f5;
            }
        }
    }

    .el-pagination__sizes {
        margin-right: 0;

        .el-input__inner {
            font-weight: bold;
            color: var(--text-color-6);
            text-align: left;
            padding-left: 10px;
        }

        .el-input__suffix {
            right: 10px;

            .el-icon {
                color: var(--text-color-6);
            }
        }
    }

    .el-pagination__jump {
        font-weight: bold;

        .el-input__inner {
            font-weight: bold;
            color: var(--text-color-6);

            &:focus {
                border-color: var(--main-color);
            }
        }
    }
}

// 弹窗样式覆盖
.el-dialog {
    .el-dialog__header {
        padding: 50px 70px 50px 40px;

        .el-dialog__title {
            display: block;
            line-height: 1;
            font-weight: bold;
            font-size: 28px;
            color: var(--text-color-1);
            word-break: break-word;
        }

        .el-dialog__headerbtn {
            background-color: var(--text-color-9);
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            top: 47px;
            right: 34px;

            // stylelint-disable-next-line
            i {
                font-size: 20px;
                color: #fff;
                font-weight: bold;
            }
        }
    }

    .el-dialog__body {
        padding: 0;
    }

    @media screen and (max-width: 700px) {
        width: 90% !important;
    }
}

// 复选框
.el-checkbox {
    .el-checkbox__inner::after {
        width: 4px;
        height: 8px;
        left: 6px;
        top: 2px;
        border-width: 2px;
    }
}

.el-message {
    padding: 8px 12px !important;

    .el-message__icon {
        font-size: 21px;
    }
}
