/**
 * @file 常用通用样式 flex 布局
 * @date 2022-01-06
 */

[class*=flex-row] {
    display: flex;
    flex-flow: row nowrap;
}

[class*=flex-col] {
    display: flex;
    flex-flow: column nowrap;
}

.flex {
    // align-items 布局
    @each $key in flex-start, flex-end, center, baseline, stretch {
        // 交叉轴对齐方式单行文本
        &-items-#{$key} {
            align-items: #{$key};
        }

        // 单个属性对齐方式
        &-self-#{$key} {
            align-self: #{$key};
        }
    }

    @each $key in flex-start, flex-end, center, space-between, space-around {
        &-row-#{$key},
        &-col-#{$key} {
            justify-content: #{$key};
        }

        // 多根交叉轴的对齐方式，一根轴线不起作用
        &-content-#{$key} {
            align-content: #{$key};
        }
    }

    @each $key in nowrap, wrap, wrap-reverse {
        &-#{$key} {
            flex-wrap: #{$key};
        }
    }

    &-1 {
        flex: 1; // flex:<number> 1 0
    }

    &-shink-0 {
        flex-shrink: 0;
    }
}
// flex 布局 end

// 常用间距
@each $key in 4, 6, 8, 10, 12, 14, 16 {
    .mt#{$key} {
        margin-top: #{$key}px;
    }

    .mr#{$key} {
        margin-right: #{$key}px;
    }

    .mb#{$key} {
        margin-bottom: #{$key}px;
    }

    .ml#{$key} {
        margin-left: #{$key}px;
    }

    .pt#{$key} {
        padding-top: #{$key}px;
    }

    .pr#{$key} {
        padding-right: #{$key}px;
    }

    .pb#{$key} {
        padding-bottom: #{$key}px;
    }

    .pl#{$key} {
        padding-left: #{$key}px;
    }

    .fz#{$key} {
        font-size: #{$key}px;
    }

    .lh#{$key} {
        line-height: #{$key}px;
    }
}

// 字体weight
@each $key in normal, bold {
    .font-#{$key} {
        font-weight: #{$key};
    }
}

// vertical align
@each $key in top, middle, bottom {
    .vertical-align-#{$key} {
        vertical-align: #{$key};
    }
}

// 文本对其方式
@each $key in left, center, right, justify {
    .text-align-#{$key} {
        text-align: #{$key};
    }
}

// 鼠标样式
@each $key in default, pointer, not-allowed, progress {
    .cursor-#{$key} {
        cursor: #{$key};
    }
}

// 超出多少行隐藏显示...
@each $key in 1, 2, 3 {
    .text-ellipsis-#{$key} {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: #{$key};
        -webkit-box-orient: vertical;
    }
}

// 超出隐藏...
.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
