/**
 * @file 常用通用样式 flex 布局
 * @date 2022-01-06
 */

[class*=flex-row] {
    display: flex;
    flex-flow: row nowrap;
}

[class*=flex-col] {
    display: flex;
    flex-flow: column nowrap;
}

.flex {
    // align-items 布局
    @each $key in flex-start, flex-end, center, baseline, stretch {
        // 交叉轴对齐方式单行文本
        &-items-#{$key} {
            align-items: #{$key};
        }

        // 单个属性对齐方式
        &-self-#{$key} {
            align-self: #{$key};
        }
    }

    @each $key in flex-start, flex-end, center, space-between, space-around {
        &-row-#{$key},
        &-col-#{$key} {
            justify-content: #{$key};
        }

        // 多根交叉轴的对齐方式，一根轴线不起作用
        &-content-#{$key} {
            align-content: #{$key};
        }
    }

    @each $key in nowrap, wrap, wrap-reverse {
        &-#{$key} {
            flex-wrap: #{$key};
        }
    }

    &-1 {
        flex: 1; // flex:<number> 1 0
    }

    &-shink-0 {
        flex-shrink: 0;
    }
}
// flex 布局 end

// 常用间距
@each $key in 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24 {
    .mt#{$key} {
        margin-top: #{$key}px;
    }

    .mr#{$key} {
        margin-right: #{$key}px;
    }

    .mb#{$key} {
        margin-bottom: #{$key}px;
    }

    .ml#{$key} {
        margin-left: #{$key}px;
    }

    .pt#{$key} {
        padding-top: #{$key}px;
    }

    .pr#{$key} {
        padding-right: #{$key}px;
    }

    .pb#{$key} {
        padding-bottom: #{$key}px;
    }

    .pl#{$key} {
        padding-left: #{$key}px;
    }

    .fz#{$key} {
        font-size: #{$key}px;
    }

    .lh#{$key} {
        line-height: #{$key}px;
    }
}

// 字体weight
@each $key in normal, bold {
    .font-#{$key} {
        font-weight: #{$key};
    }
}

// vertical align
@each $key in top, middle, bottom {
    .vertical-align-#{$key} {
        vertical-align: #{$key};
    }
}

// 文本对其方式
@each $key in left, center, right, justify {
    .text-align-#{$key} {
        text-align: #{$key};
    }
}

// 鼠标样式
@each $key in default, pointer, not-allowed, progress, auto {
    .cursor-#{$key} {
        cursor: #{$key};
    }
}

// 超出多少行隐藏显示...
@each $key in 2, 3, 4 {
    .text-ellipsis-#{$key} {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: #{$key};
        -webkit-box-orient: vertical;
    }
}

// 超出隐藏...
.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wrapper {
    width: 100%;
    max-width: var(--page-width);
    margin: 0 auto;
    overflow: hidden;
}

.scroller {
    overflow: auto hidden;
    white-space: nowrap;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.ts {
    transition: 0.3s all ease-in-out;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.color-up {
    color: var(--color-up);
}

.color-down {
    color: var(--color-down);
}

// 标题标志
.title-mark {
    width: 4px;
    height: 16px;
    background-color: var(--main-color);
    border-radius: 4px;
}

.btn-primary {
    height: 46px;
    color: #fff;
    background: var(--main-color);
    padding: 12px 18px;
    font-size: 16px;
}

.btn-info {
    height: 48px;
    color: var(--text-color-0) !important;
    background: rgba(102, 102, 102, 0.08);
    padding: 15px;
}

// 按钮样式
.btn-primary,
.btn-info {
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s all ease-in-out;

    .el-loading-mask {
        cursor: not-allowed;
        background-color: rgba(255, 255, 255, 0.5);

        circle {
            stroke-width: 6;
        }
    }

    &.small {
        padding: 0 12px;
        height: 32px;
        font-size: 12px;
    }

    &:hover {
        opacity: 0.8;
    }

    &[disabled] {
        background-color: var(--text-color-9);
        cursor: not-allowed;
    }
}

.body-bg {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 462px;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, #f9fbff 0%, #fff 100%);
    }
}
