:root {
    --page-width: 1200px;
    --color-down: #e93535;
    --color-up: #26c48b;
    --main-color: #2a64fb;
    --hover-color: #448bf4;
    --text-color-0: #000;
    --text-color-1: #111;
    --text-color-3: #333;
    --text-color-6: #666;
    --text-color-9: #999;

    .el-table {
        --el-table-border-color: rgba(0, 0, 0, 0.05);
        --el-table-header-text-color: var(--text-color-1);
        --el-table-text-color: var(--text-color-1);
    }

    .el-pagination {
        --el-color-primary: var(--main-color);
        --el-text-color-regular: var(--text-color-6);
        --el-pagination-button-height: 22px;
        --el-pagination-font-size: 14px;
    }

    .el-dialog {
        --el-border-radius-small: 12px;
    }

    .el-checkbox {
        --el-checkbox-checked-text-color: var(--main-color);
        --el-checkbox-checked-bg-color: var(--main-color);
        --el-checkbox-checked-input-border-color: var(--main-color);
        --el-checkbox-input-border-color-hover: var(--main-color);
        --el-checkbox-text-color: var(--text-color-3);
        --el-checkbox-input-width: 20px;
        --el-checkbox-input-height: 20px;
    }
}
